extends ../layout

block content
  .container
    .row
      .col-md-4.col-md-offset-4
        h3.col-md-offset-5 注册
        form(method="post",action="/user/signup")
          .modal-body
            .form-group
              label(for="signupName") 用户名 
              input#signupName.form-control(name="username",type="text")
            .form-group
              label(for="signupPassword") 密码
              input#signupPassword.form-control(name="password",type="password")
          .modal-footer
            button.btn(type="button",data-dismiss="modal") 关闭
            button.btn.btn-primary(type="submit") 注册